<div class="container m-t-30 text-center">
  <div class="row" style="float: right">
    <button nz-button nzType="primary" nzSize="large" (click)="createModal()"><i nz-icon
                                                                                 nzType="plus"></i>Demonstração do modal
    </button>
  </div>
  <div class="row">
    <img width="50%" height="50%" style="display: block; margin: 0 auto;" class="img-fluid"
         src="assets/images/web_developer_p3e5.svg" alt="">
  </div>
</div>
